@media (max-width: 640px) {
    #container {
        display: grid;
        gap: 20px;

        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6"
            "card7"
            "card8";
    }
}
